@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  color: black;
  background-color: #9fd3d0;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  width: rgba(136, 136, 136, 0.281);
}

::-webkit-scrollbar-thumb::hover {
  width: #555;
}
